.footer-background {
    position: absolute;
    bottom: 0;   
    max-width: 1280px;;
    width: 100%;
    background-color: #2d333f;
    color: #d8d9db;

    a {
        color: inherit;
        text-decoration: inherit;
        cursor: pointer;
        &:hover {
            color: white;
            font-weight: 700;
        }
    }

    li {
        padding: 0 8px 5px;
        font-size: 0.85em;
    }

    .footer-main {
        display: flex;
        justify-content: space-between;
        padding: 1% 2%;
        
        .footer-section {
            display: flex;
            flex-direction: column;
        }

        .footer-section-title {
            color: white;
            padding: 8px ;
        }

        .footer-section-sub-title {
            color: white;
            padding: 0 8px 8px;
            font-size: 0.9em;
        }

        .used-tech {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .about-me-section {
            display: flex;
        }

        .discover-links a {
            display: grid;
            grid-template-columns: 15% 85%;
            grid-gap: 5%;
            // padding-left: 8px;
        }
        

        div > span {
            font-weight: bold;
        }
    }
}