.index-container {
    border: black solid 2px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
    margin: 16px 0 16px 0;
}

.sub-index-container {
    border: black solid 2px;
    display: grid;
    overflow-x: scroll;
    min-width: 610px;
    max-width: 1220px;
    margin: 16px 0;
    padding: 20px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250PX;
    grid-column-gap: 1em;
}

.index-item {
    border: black solid 2px;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: contain;
	width: 188px;
    height: 220px;
    // margin: 12px;
    // padding: 16px;
}