.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-width: 350px;
  border-radius: 3px; 
  overflow-y: auto;
  
}

// Login Signup Modals

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px; 
  padding: 2rem 1rem 2rem 1rem;
  min-width: 350px;
}

.modal-title {
  font-size: 1rem;
  width: 100%;
  margin: 0;
  // width: 100%
}

hr.solid {
  border-top: 1px solid #bbb;
}

.modal-input {
  font-size: 1rem;
  width: 96%;  
  margin: 0.5rem 0;
  border: grey solid 1px;
  padding: 0.5rem 0 0.5rem 0.5rem
}

.modal-button {
  align-self: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: #df8963;
  border: none;
  width: 100%;
  border-radius: 3px;  
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.modal-link {
  align-self: center;

  

}

.button-link {
  color: #df8963;
  font-size: 0.75rem;
  background-color: transparent;
  font-family: 'Nunito Sans';
  border: none;
}
