// #f7d2b7 lightest
// #df8963 dark
// #f7986e light
// #BF5700 texas

.nav-bar {
    height: 56px;
    width: 100%;
    max-width: 1280px;
    background-color: #f7d2b7;
    color:white;
    margin: 4px 0 12px 0;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px 8px;
}


.left-nav {
    display: flex;
    align-items: center;
    padding: 0px 8px 0px 8px;
}

.left-nav > * {
    padding: 0px 0px 0px 2px;
}

.nav-logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.nav-logo > * {
    padding: 0px 2px 0px 2px;
}

.logo {
    resize: both;
    height: 40px;
}

.logo-text {
    font-size: 26px;
}

.location-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-end;
    background-color: transparent;
    border: none;
    color: white;
    margin: 0;
    padding: 0;
}
.location-button > * {
    align-self: flex-end;    
}

.location-button:hover, .icon-button:hover {
    background-color: #df8963;
    border-radius: 3px;
}

.icon-button {
    align-self: center;
    background-color: transparent;
    border: none;
    color: white;
    margin: 0;
    padding: 2px 1px 0 4px;
}

.session-button {
    font-size: small;
    font-weight: normal;    
    color: white;   
    border-radius: 4px;
    margin: 0px 4px 0px 4px;
    padding: 8px 8px 8px 8px;
    letter-spacing: 0.5px;
}

#session-button-dark {
    background-color: #df8963;     
    border: solid #df8963 1px;
    margin: 0px 4px 0px 8px;
}

#session-button-light {
    background-color: transparent;
    border: solid #696969 1px;
    color:#696969;
}

#session-button-light:hover, #session-button-dark:hover {
    background-color: #BF5700;
    color: white;
    border: #BF5700 1px solid
}

.nav-text {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-right: 8px;
    padding-top: 4px;
}

.location-selector {
    position: relative;
}

.drop-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: black 1px solid;
    border-radius: 3px;
    background-color: white;
    color:#696969;
    position: absolute;
    top: 120%;
    left:60%;
    width: 160px;
    padding-right:1px;
    margin:0;
    z-index: 15;    
}

#drop-item {
    padding: 8px 0 8px 4px;
    width: 151px;
    overflow: hidden;
}
#drop-item:hover {
    color: black;
    background-color: #f7d2b7;
    border-left: #df8963 6px solid;
    padding-left: 4px;
}    


// #f7d2b7
// #f7986e