.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky; top: 8px; left: 0; right: 0;
    background-color: #f7d2b7;
    color:white;
    margin-bottom: 16px;
    height: 52px;
}

.right-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px 8px;
}


.left-nav {
    display: flex;
    align-items: center;
    padding: 0px 8px 0px 8px;
}

.left-nav > * {
    padding: 0px 2px 0px 2px;
}

.nav-logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.nav-logo > * {
    padding: 0px 2px 0px 2px;
}

.left-nav:nth-child(2) {
    padding: 0px 8px 0px 0px;
}

.logo {
    resize: both;
    height: 32px;
}

.search-button {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
    font-weight: 900;
    margin-left: 0;
    padding-left: 0;
}

.session-button {
    font-size: small;
    font-weight: normal;    
    color: white;    
    border-radius: 4px;
    margin: 0px 4px 0px 4px;
    padding: 8px 8px 8px 8px;
    letter-spacing: 0.5px;
}

#session-button-dark {
    background-color: #df8963;
    border: solid black 0px;
    margin: 0px 4px 0px 12px;
}

#session-button-light {
    background-color: transparent;
    border: solid #181818 1px;
}