.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f7d2b7;
    color: white;
    font-family: Bran; 

}

.sub-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    display: flex;
    align-items: center;
}

.logo {
    resize: both;
    height: 32px;
}