#make-res-container {
    position: relative;
    bottom: 52px;
    background-color: white;
    border-radius: 2px;
    width: 30%;
}
    
#make-res {
	position: sticky;
	top: -1px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	padding: 0 1rem;
    box-shadow: 0 0 3px #d8d9db, 2px 2px 3px #d8d9db;
    z-index: 5;
    background-color: white;
}

.res-form-title {
    text-align: center;
    width: 100%;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    margin: 1rem 1rem 0.5rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #d8d9db;
}

.res-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.res-input-title {
    font-size: .875rem;
    font-weight: 500;
    width: 100%;
    margin: 0.5rem 0;
}

.res-input-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.25rem;
    padding: 12px 0;
    border-bottom: solid 1px #d8d9db;
    &:hover {
        border-bottom: 2px solid #BF5700;
		padding-bottom: 10px;
    }
}

#res-input-second-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.res-input-container {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.res-input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
}

.res-input-text {
    font-size: .875rem;
}

.res-chevron {
    padding-right: 6px;
}

.res-button {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;    
    color: white;   
    border-radius: 4px;
    padding: 12px 28px 12px 28px;
    margin: 16px 0 24px;
	background-color: #df8963;     
	border: solid #df8963 1px;
    &:hover {
        background-color: #BF5700;
    }
}

#res-party-drop {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 300px;
    top: 140px;
    left: 12px;
    width: 105%;
    & > * {
        text-align: left;
        padding-left: 8px;
        width: 100%;
    }
}

#res-calendar-drop { 
        width: fit-content;
        position: absolute;
        top: 216px;
        left: 12px; 
}

#res-time-drop {     
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 216px;
        right: 16px;
        width: 50%;   
        & > * {
            width: 100%;
            text-align: center;
        } 
}

#res-time-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 4px;
    grid-column-gap: 8px;
    margin: 0.5rem 0;
    .res-button {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        color: white;
        border-radius: 4px;
        padding: 8px 0px;
        background-color: #df8963;
        border: none;
        margin: 0;
        &:hover {
            background-color: #BF5700;
        }
    }
}

#none-available-container {
    align-items: flex-start;
    display: flex;
    background-color: #f1f2f4;
    padding: 0.75rem 0;
    margin: 0.75rem 0;
    width: 100%;
}

#none-available {
    font-size: 14px;
}

#none-svg {
    padding: 0 0.5rem
}

#temp-reset-button {
    border: solid black 1px;
    position: sticky;
    top: 450px;
    font-size: 14px;
    padding: 8px;
    &:hover {
        background-color: chocolate;
        cursor: pointer;
    }
}

// Schedule Section

#schedule-container {
    position: sticky;
    top: 18.5rem;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 16px 8px 0;


    #schedule-header {
        display: grid;        
        grid-template-columns: 8% 1fr;
        grid-gap: 3px;
        font-size: inherit;
        padding-bottom: 4px;
    }

    #schedule-hours {
        display: flex;
        flex-direction: column;

        .schedule-item {
            display: grid;            
            grid-template-columns: 16% 1fr;
            grid-gap: 4px;
            margin: 2px 0;

            .schedule-text {
                font-size: inherit;
                font-weight: 300;;
            }
        }
    }


}
