.search-bar-default, .search-bar-orlando, .search-bar-austin,
.search-bar-san-francisco, .search-bar-new-york{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 318px;
	max-height: 636px;
	min-width: 636px;
	max-width: 1272px;
	width: 100vw;
}

.search-bar-default {
	background-image: url('/assets/default.png');
	background-size: cover;
}

.search-bar-orlando {
	background-image: url('/assets/orlando.png');
	background-size: cover;
	color: white;
}

.search-bar-new-york {
	background-image: url('/assets/newyork.png');
	background-size: cover;
	color: white;
}

.search-bar-san-francisco {
	background-image: url('/assets/sanfran.png');
	background-size: cover;
}

.search-bar-austin {
	background-image: url('/assets/austin.png');
	background-size: cover;
	color: #BF5700;
}

#search-form-modal {
	background-color: white;
	background-image: none;
	color: black;
}

.banner-title {
	margin: 16px;
	font-size: 40px;
}


