.search-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: contain;
	height: 427px;
	width: 1281px;
}

#default {
	background-image: url('/assets/default.png');
	background-size: contain;
}

#orlando {
	background-image: url('/assets/orlando.png');
	background-size: contain;
	color: white;
}

#new-york {
	background-image: url('/assets/newyork.png');
	background-size: contain;
	color: white;
}

#san-francisco {
	background-image: url('/assets/sanfran.png');
	background-size: contain;
}

#austin {
	background-image: url('/assets/austin.png');
	background-size: contain;
	color: white;
}

#search-form-modal {
	background-color: white;
}

