.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  overflow: hidden;
}

.modal-child {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
  border-radius: 3px; 
  overflow: visible;
  padding: 0;
  margin: 0;
}

// Login Signup Modals

.session-modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px; 
  padding: 1.5rem 1rem 1.5rem 1rem;
  min-width: 350px;
  background-color: white;
}

.session-modal-title {
  font-size: 1rem;
  width: 100%;
  margin: 0;
  // width: 100%
}

.session-modal-input {
  font-size: 1rem;
  width: 96%;  
  margin: 0.5rem 0;
  border: grey solid 1px;
  padding: 0.5rem 0 0.5rem 0.5rem
}

.session-modal-button {
  align-self: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: #df8963;
  border: none;
  width: 100%;
  border-radius: 3px;  
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

.modal-link {
  align-self: center;
}

.button-link {
  color: #df8963;
  font-size: 0.75rem;
  background-color: transparent;
  font-family: 'Nunito Sans';
  border: none;
  &:hover {
    color: #BF5700;
  }
}
