.banner-default, .banner-thai, .banner-chinese,
.banner-japanese, .banner-steak,
.banner-sea, .banner-latin{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 318px;
	max-height: 636px;
	min-width: 636px;
	max-width: 1272px;
	width: 100vw;
}

$source: 'dev';

.banner-thai {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/thai.png');
	background-size: cover;
}

.banner-chinese {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/chinese.png');
	background-size: cover;
}

.banner-japanese {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/japanese.png');
	background-size: cover;
}

.banner-steak {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/steak.png');
	background-size: cover;
}

.banner-sea {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/sea.png');
	background-size: cover;
}

.banner-latin {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/latin.png');
	background-size: cover;
}

.show-page-div	{
	margin: 24px 0;
	width: 100%;
}

.photos-preview-container {
	max-width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.show-image {
	object-fit: cover;
	height: 50%;
	max-width: 33%;
	cursor: pointer;
}

.show-middle-image {
	object-fit: cover;
	height: 100%;
	max-width: 33%;
	cursor: pointer;
}

.empty-photo {
	background-color: #ffffff00;
	height: 50%;
	max-width: 33%;
}

.x-more-photos {
	position: relative;
	height: 50%;
	max-width: 33%;
	cursor: pointer;
}

.image-preview-underlay {
	position: absolute;
	background-size: cover;
	filter: brightness(50%);
	width: 100%;
	height: 100%;
	z-index: 0;
	&:hover {
		filter: brightness(35%);
	}
}

.text-on-image {
	position: absolute;
	top: 40%;
	left: 30%;
	z-index: 5;
	color: white;
	font-size: 24px;
}

.photo-modal-container {
	display: flex;
	align-items: center;
	justify-self: center;
}

.modal-image {
	max-height: 70vh;
	object-fit: cover;
}