#show-content {
	display: flex;
	justify-content: center;	
}

#restaurant-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50vw;
	min-width: 550px;
	border: 1px solid black;
	padding: 20px;
	margin: 0 20px;
}

.show-page-div	{
	margin: 24px 0;
}

#ratings-summary {
	display: flex;
	justify-content: flex-start;
}

.ratings-summary-with-icon {
	margin: 8px 24px 8px 0;
	display: flex;
	align-items: center;	
}

#reservation-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25vw;
	border: 1px solid black;
	padding: 12px;
	margin: 0 20px;
}

.show-header {
	padding: 16px 0;
}

.show-section-header {
	font-size: 24px;
	width: 100%;
	border-bottom: solid #bbb 1px;
	padding-bottom: 16px;
	margin-bottom: 16px;
}

#show-reviews-subheader {
	font-size: 16px;
	font-weight: bold;
	margin: 8px 0;
	padding: 8px 0;
}

.show-reviews-text {
	font-size: 14px;
}

#show-reviews-average {
	display: flex;
	align-items: center;
	margin: 8px 0;
	padding: 8px 0;
}

#show-reviews-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#show-reviews-subreview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.review-item {
	margin: 20px 0;
	display: flex;
}

.reviewer-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 24px;

}

.dot {
	color: white;
	height: 60px;
	width: 60px;
	background-color: #df8963;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review-item-content {
	display: flex;
	flex-direction: column;	
}

.review-item-row {
	display: flex;
	align-items: center;
	& > * {
		display: flex;
		margin: 12px 8px;
		font-size: 14px;
	}
}

.review-cat-text {
	font-weight: bold;
	margin-right: 8px;
}

.review-cat-num {
	font-weight: bold;
	color: #BF5700;
}
.middot-divider {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 18px;
}

