.banner-default, .banner-thai, .banner-chinese,
.banner-japanese, .banner-steak,
.banner-sea, .banner-latin{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 318px;
	max-height: 636px;
	min-width: 636px;
	max-width: 1272px;
	width: 100vw;
}

$source: 'dev';

.banner-thai {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/thai.png');
	background-size: cover;
}

.banner-chinese {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/chinese.png');
	background-size: cover;
}

.banner-japanese {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/japanese.png');
	background-size: cover;
}

.banner-steak {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/steak.png');
	background-size: cover;
}

.banner-sea {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/sea.png');
	background-size: cover;
}

.banner-latin {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/latin.png');
	background-size: cover;
}

// .photos-preview-container {
// 	width: 100%;
// 	display: flex;
// 	justify-content: space-between;
// }

.photos-preview-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
  	grid-template-rows: 1fr 1fr;
	grid-gap: 8px;
}

.show-image {
	object-fit: scale-down;
	height: 50%;
	width: 100%;
}

.show-middle-image {
	object-fit: scale-down;
	height: 200%;
	width: 100%
}

.empty-photo {
	background-color: #ffffff00;
	height: 50%;
}

.x-more-photos {
	background-color: black;
	height: 50%;
	&:hover {
		background-color: #696969;
	}
}