.banner-default, .banner-thai, .banner-chinese,
.banner-japanese, .banner-steak,
.banner-sea, .banner-latin{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 318px;
	max-height: 636px;
	min-width: 636px;
	max-width: 1272px;
	width: 100vw;
}

$source: 'pro';

.banner-thai {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/thai.png');
	background-size: cover;
}

.banner-chinese {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/chinese.png');
	background-size: cover;
}

.banner-japanese {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/japanese.png');
	background-size: cover;
}

.banner-steak {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/steak.png');
	background-size: cover;
}

.banner-sea {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/sea.png');
	background-size: cover;
}

.banner-latin {
	background-image: url('https://letseat-#{$source}.s3.us-east-2.amazonaws.com/banners/latin.png');
	background-size: cover;
}

#show-content {
	display: flex;
	justify-content: space-around;	
}

#restaurant-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50vw;
	border: 1px solid black;
	padding: 20px;
}

#ratings-summary {
	display: flex;
	justify-content: flex-start;
}

.ratings-summary-with-icon {
	margin: 8px 24px 8px 0;
	display: flex;
	align-items: center;	
}

#reservation-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25vw;
	border: 1px solid black;
	padding: 12px;
}